.View {
    display: flex;
    flex: 1 1 0;
    align-items: safe center;
    justify-content: safe center;
    overflow: auto;
    background-color: #2f3334;
}

.View canvas {
    display: block;
    margin: 10px;
}